aioredis==1.3.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.6.2
Automat==22.10.0
boto3==1.33.8
botocore==1.33.8
certifi==2023.7.22
cffi==1.15.1
channels==3.0.4
channels-redis==3.3.1
charset-normalizer==3.2.0
constantly==15.1.0
cryptography==41.0.3
daphne==3.0.2
dj-database-url==2.0.0
Django==5.0.1
django-appconf==1.0.6
django-compressor==4.4
django-cors-headers==4.2.0
django-environ==0.11.2
django-heroku==0.3.1
django-ipware==6.0.2
django-storages==1.14.2
django-user-agents==0.4.0
djangorestframework==3.12.4
hiredis==2.2.3
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
jmespath==1.0.1
msgpack==1.0.5
Pillow==10.0.0
psycopg2==2.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.0
python-ipware==2.0.0
pytz==2023.3
rcssmin==1.1.1
requests==2.31.0
rjsmin==1.2.1
s3transfer==0.8.2
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing_extensions==4.7.1
tzdata==2023.4
ua-parser==0.18.0
urllib3==2.0.4
user-agents==2.2.0
whitenoise==6.5.0
zope.interface==6.0
