{% extends 'admin/admin_base.html' %}

{% block title %}
Support Team
{% endblock %}

{% block content %}
<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.19.3/inter.css">
<br>
<div class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
    <div class="flex justify-center flex-1 lg:mr-32">
        
    </div>
   <div class="flex items-center flex-shrink-0 space-x-6">
<a href="{% url 'add_support_user' %}" class="px-5 py-3 font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">Add</a></div>  
</div>

    <h3 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">Support Team({{total_users}})</h3>
   
    <!-- Chat list -->

    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-xs">
        <div class="w-full overflow-x-auto">
            <table class="w-full whitespace-no-wrap">
              <thead>
                <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                  <th class="px-4 py-3">User</th>
                  <th class="px-4 py-3">Status</th>
                  <th class="px-4 py-3">Last Login</th>
                  <th class="px-4 py-3">Actions</th>
                </tr>
              </thead>
                <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
                    {% for user in all_users reversed %}
                    <tr class="text-gray-700 dark:text-gray-400">
                      
                        <td class="px-4 py-3">
                            <a href="{% url 'update_support_user' user.unique_id %}">
                            <div class="flex items-center text-sm">
                                <!-- Avatar with inset shadow -->
                                <div class="relative hidden w-8 h-8 mr-3 rounded-full md:block">
                                    <img class="object-cover w-full h-full rounded-full"
                                        src="{{user.profile_pic.url}}"
                                        alt="" loading="lazy">
                                    <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                                </div>
                                
                                <div>
                                    
                                    <p class="font-semibold">{{user.name|title}}</p>
                           
                                </div>
                            
                            </div>
                          </a>
                            
                        </td>
                        <td class="px-4 py-3 text-sm">
                          {% if user.status == "Active" %}
                            <p class="font-semibold"><span class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">Online</span></p>
                          {% else %}
                          <p class="font-semibold"><span class="px-2 py-1 font-semibold leading-tight text-red-700 bg-red-100 rounded-full dark:text-red-100 dark:bg-red-700">Offline</span></p>
                          {% endif %}
                        </td>
                        <td class="px-4 py-3 text-sm">
                            <p class="font-semibold">{{user.user.last_login|timesince}}</p>
                        </td>
                    </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
        <span class="flex items-center col-span-3">
            Showing {{ user_range_start }}-{{ user_range_end }} of {{ total_users }}
        </span>
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
            <nav aria-label="Table navigation">
                <ul class="inline-flex items-center">
                    {% if users.has_previous %}
                    <li>
                        <a href="?page=1"
                            class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                            aria-label="First Page">
                            <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                                <path
                                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="?page={{ users.previous_page_number }}"
                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                            aria-label="Previous">
                            {{ users.previous_page_number }}
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <span class="px-3 py-1 rounded-md bg-purple-600 text-white">
                            {{ users.number }}
                        </span>
                    </li>
                    {% if users.has_next %}
                    <li>
                        <a href="?page={{ users.next_page_number }}"
                            class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple"
                            aria-label="Next">
                            {{ users.next_page_number }}
                        </a>
                    </li>
                    <li>
                        <a href="?page={{ users.paginator.num_pages }}"
                            class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                            aria-label="Last Page">
                            <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                                <path
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </span>
    </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.5.2/cdn.js"></script>
<script src="https://unpkg.com/tailwindcss-jit-cdn"></script>

<!-- Specify a custom Tailwind configuration -->

{% endblock %}